---
---

img {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	display: block;
	margin: 0 auto;
	width: 98%;
}

p {
	padding-bottom: 2%;
	padding-top: 1%;
}

h3 {
	margin-bottom: 0;
	padding-top: 2%;
}

@media screen and (min-width: 490px) {
	img {
		//width: 100%;
	}
}

@media screen and (min-width: 640px) {
	img {
		max-width: 545px;
		width: 90%;
	}
}